/target
/output
/dist
.DS_Store

# Ignore generated QR code SVGs, but not asset SVGs
/qrcode-lib/output/*.svg
/qrcode-lib/*.svg
fancy_qrcode.svg

# Keep these SVG assets
!qrcode-app/assets/*.svg
!qrcode-lib/logo-icon.svg